html,body{
    padding:0;
    margin:0;
}

div{
    border:1px solid #000;
}

.test1, .test1:hover{
    border:2px solid #cc0000;
    padding:5px;
}

#test2{
    padding:5px;
    border:2px solid #cc00cc;
}

.nonexistent{color:#000;}
.nonexistent2{}

.nonexistent,body,{}

:test{}

!!!{}



